.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background: radial-gradient(circle at center, #222 0%, #000 100%);
  color: white;
  font-family: system-ui, sans-serif;
  text-align: center;
  overflow: hidden;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}
