.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 100%;
  height: 100%; /* fill parent (.keypadWrapper) */
  justify-items: stretch;
  align-items: stretch;
}
